<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> View Tasks </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <nav class="flex gap-2 p-4 bg-teal-500 text-black shadow-lg">
        <a href="/" class="font-bold text-xl"> Todo List </a>
    </nav>
    <div class="flex gap-2 p-4">
        {% if task.status == 0 %}
            <a href="/edit/{{ task.id }}" class="bg-green-500 text-white p-2 rounded"> Mark as Completed </a>
        {% else %}
            <a href="/edit/{{ task.id }}" class="bg-amber-500 text-white p-2 rounded"> Mark as Pending </a>
        {% endif %}
        <a href="/delete/{{ task.id }}" class="bg-red-500 text-white p-2 rounded"> Delete </a>
    </div>
    <div class="p-4 bg-amber-100 m-4 shadow-lg flex flex-col gap-2">
        <p class="text-gray-500"> #{{ task.id }} </p>
        <h1 class="font-bold text-xl"> {{ task.title }} </h1>
        <p class="text-gray-500"> {{ task.content }} </p>
        <p class="text-gray-500"> {{ task.date }} </p>
        {% if task.status == 0 %}
            <p class="px-2 py-1 rounded bg-amber-500 text-white w-[150px] text-center">
                Pending
            </p>
        {% elif task.status == 1 %}
            <p class="px-2 py-1 rounded bg-green-500 text-white w-[150px] text-center">
                Complete
            </p>
        {% endif %}
    </div>

</body>

</html>